.top-container{
  background-color:#E4F9F6;
  position: relative;
  padding-top: 100px;
}

body{
  margin:0;
  color: #40514E;
  text-align: center;
  font-family:'Merriweather',serif;
}

h1{
  margin:50px auto 0 auto;
  color: #66BFBF;

  font-size: 562.5%;
  font-family: 'Sacramento', cursive;
}
h2{
  color:#66BFBF;
  font-size: 2.5rem;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: normal;
}
h3{
  color: #11999E;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro{
  text-decoration: underline;
}

.code-img{
  width:25%;
  float: left;
  margin-right:30px;
}
.chilli-img{
  width:25%;
  float:right;
  margin-left:30px;
}

hr{
  border:dotted #EAF6F6 6px;
  width:4%;
  margin:40px auto;
  border-bottom: none;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:250px;
}

.contact-message{
  width:40%;
  margin:40px auto 60px;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top:40px;
}
.middle-container{
  margin:100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding:50px 0 20px;
}
p{
  line-height: 2;
}
a{
  color:#11999E;
  font-family: sans-serif;
  margin:10px 20px;
  text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.intro{
  width:30%;
  margin:auto;
}

.copyright{
  color:#EAF6F6;
  font-size:10px;
  padding:20px 0;
}


.button {
  background-color:#43B581;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
